body {
  background-color: lightblue;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.red-float {
  float: left;
  background: red;
  padding: 15px;
}

.blue-float {
  float: right;
  background: blue;
  padding: 15px;
}

#rounded-corner {
  border-radius: 25px;
  border: 2px solid purple;
  padding: 20px;
  width: 200px;
  height: 150px;
}
